DEBUG = False
SECRET_KEY = 's_1*b7g=9agy@a(!s(3#-zw4p*z#z=$j!swur-+97@_z6#y(ii'
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://postgres:postgres@localhost/testdb
# Configurações do AWS
AWS_ACCESS_KEY_ID = 
AWS_SECRET_ACCESS_KEY = 
AWS_STORAGE_BUCKET_NAME = 